@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/bootstrap")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/mainFile/js")"></script>
}

<h2>Hello :D</h2>

<button id="showAll">Show all</button>
<br /><br />

<text>znajdzKsiazke</text>
<br />
<text>id ksiazki</text>
<input id="showById"/>
<br />
<button id="buttonShowById">show by id</button> 
<button id="buttonDeleteById">delete by id</button> 
<br /><br />
 
<text>Add</text>
<br />
<text >title</text>
<input id="title" />
<br />
<text >cena</text>
<input id="cena" />
<br />
<button id="buttonAdd">Add</button>

<br /><br />
<text>wynik</text>
<br />
<textarea id="textArea" style="height:200px; width:400px"></textarea>